<a href="{{bntLink}}">
<div class="button">
  <p>{{text}}</p>
  <svg width="29" height="13" viewBox="0 0 29 13" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M15.2909 6.49977L10.1061 1.31492L29 6.58765L9.75455 12.0361L15.2909 6.49977Z" fill="#E3BD5B"/>
    <path d="M-0.000224506 6.49989L6.41493 0.0847353L12.8301 6.49989L6.41493 12.915L6.32705 12.8272L-0.000224506 6.49989Z" fill="#E3BD5B"/>
    </svg>
</div>
</a>