<link rel="stylesheet" href="{{ 'component-section-header.css ' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'component-section-header.css' | asset_url | stylesheet_tag }}</noscript>
{{ 'component-section-header.css' | asset_url | stylesheet_tag }}


<div class="section-header">
  <h2 class="heading-four">{{title}}</h2>
  {% if snake %}
    <div class="section-header__snake-wrap">

      {% render 'big-snake' %}

    </div>    
  {% endif %}
  {% if skull %}
    <div class="section-header__snake-wrap skull">
      <svg class="animated-svg" data-speed="200" width="97" height="119" viewBox="0 0 97 119" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M50.2374 1.00021C50.2374 1.00021 75.5163 0.719121 87.7638 20.6765C100.011 40.6338 95.3573 62.8398 95.3573 69.0238C95.3573 71.5536 95.7982 75.3483 96.3371 78.9462C97.1944 84.7367 94.206 90.3866 89.3315 92.1855L75.3448 97.2733C72.4544 98.3414 70.6173 101.574 70.9357 105.031L71.0582 106.268C71.3766 109.754 69.4905 113.042 66.5756 114.054L58.3208 116.95C53.0543 118.805 47.4449 118.861 42.154 117.146L32.0131 113.858C28.8042 112.817 26.8201 109.107 27.4815 105.369C28.0938 101.883 26.4527 98.4257 23.5623 97.1046L7.4935 89.7963C3.13337 87.8287 0.512402 82.7128 1.07579 77.3721L2.0311 68.5459C2.10458 67.9275 2.10458 67.3092 2.0311 66.7189C1.46771 61.6593 -0.810331 36.305 8.42431 23.2063C18.6877 8.58962 31.0822 1.00021 50.2374 1.00021Z" stroke="#E3BD5B" stroke-miterlimit="10"/>
        <path d="M51.72 82.4723L55.4551 88.5102C56.3537 89.9705 57.0277 91.5994 57.3928 93.2844L57.6456 94.4358C58.0949 96.4859 56.3818 98.3674 54.3037 98.1428L49.2487 97.6092L45.2889 98.1147C43.2669 98.3674 41.5819 96.6263 41.8627 94.6324L42.1436 92.6946C42.3963 91.0377 42.9018 89.4089 43.6601 87.9205L46.3561 82.697C47.4794 80.5626 50.4562 80.4503 51.72 82.4723Z" stroke="#E3BD5B" stroke-miterlimit="10"/>
        <path d="M30.8074 80.7326C37.83 79.4726 42.7014 73.8721 41.6879 68.2235C40.6745 62.5749 34.16 59.0172 27.1374 60.2772C20.1148 61.5372 15.2434 67.1377 16.2569 72.7863C17.2703 78.4349 23.7848 81.9926 30.8074 80.7326Z" stroke="#E3BD5B" stroke-miterlimit="10"/>
        <path d="M82.684 72.7804C83.6975 67.1318 78.8261 61.5313 71.8035 60.2713C64.7809 59.0113 58.2664 62.569 57.253 68.2176C56.2395 73.8662 61.1109 79.4667 68.1335 80.7267C75.1561 81.9867 81.6706 78.429 82.684 72.7804Z" stroke="#E3BD5B" stroke-miterlimit="10"/>
      </svg>
    </div>    
  {% endif %}
  {% render 'horizontal-line' %}
</div>