<link rel="stylesheet" href="{{ 'section-featured-product.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>{{ 'section-featured-product.css' | asset_url | stylesheet_tag }}</noscript>
{{ 'section-featured-product.css' | asset_url | stylesheet_tag }}

<section style="margin-top: 400px;" class="featured-products container">
  {% render 'component-section-header' title: "FEATURED PRODUCTS"%}
  <div class="featured-products__inner">
    {% for block in section.blocks %}
    {% assign product = all_products[block.settings.product] %}
      {% render 'component-product-card' product: product %}
    {% endfor %}
  </div>
</section>

{% schema %}
{
  "name": "Featured Products",
  "tag": "section",
  "class": "spaced-section spaced-section--full-width",
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "limit": 6,
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Add a Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Featured Products",
      "blocks": [
        {
          "type": "product"
        }
      ]
    }
  ]
}
{% endschema %}
