
{{ 'section-footer.css' | asset_url | stylesheet_tag }}

{% render 'horizontal-line', class: "footer__top-divider-h"%}  
<div class="footer" >
  <div class="footer__top container">
    <div class="footer__top-left">
      <h3>ABOUT US</h3>
      <p class="body-two">Lorem ipsum dolor sit amet mollit anim elit, consectetur adipiscing excepteur id sint. Nunc euismod ipsum vitae dolor pharetra. Nam sed eros non nibh vulputate blandit integer vitae.</p>
      {% render 'horizontal-line', class: "footer__top-divider-one-h" %}
      {% render 'horizontal-line', class: "footer__top-divider-two-h" %}
      {% render 'horizontal-line', class: "footer__top-divider-three-h" %}
      {% render 'vertical-line', class: "footer__top-divider-one-v" %}
      {% render 'vertical-line', class: "footer__top-divider-two-v" %}
      {% render 'vertical-line', class: "footer__top-divider-three-v" %}    
    </div>
    <div class="footer__top-right">
      {% render 'horizontal-line', class: "footer__bottom-divider-one-h" %}
      <h4>NEWSLETTER</h4>
      <input type="text" placeholder="Your email">
      {% render 'button', text: "SIGN UP" %}
      <div class="footer__top-right-links-wrap">
          <div class="footer__top-right-links">
            <ul>  
              <li>CARE</li>
              <li>Shipping</li>
              <li>Return</li>
              <li>Contact us</li>
              <li>Faq</li>
              <li>Privacy Policy</li>
            </ul>
          </div>
          <div class="footer__top-right-social">
            <h5>FOLLOW US</h5>
            <div class="footer__top-right-social-links">
              {% render 'icon-instagram' %}
              {% render 'icon-facebook' %}
              {% render 'icon-twitter' %}
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="footer__bottom" style="background-image: url({{section.settings.image.src | img_url: 'master'}})">
    <div class="footer__bottom-left" style="background-image: url({{section.settings.image.src | img_url: 'master'}})">
    </div>
    <div class="footer__bottom-right" style="background-image: url({{section.settings.image.src | img_url: 'master'}})">
    </div>
  </div>
</div>


{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label",
          "info": "t:sections.footer.blocks.link_list.settings.heading.info"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.footer.blocks.text.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.footer.blocks.text.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Share store details, promotions, or brand content with your customers.</p>",
          "label": "t:sections.footer.blocks.text.settings.subtext.label"
        }
      ]
    },
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 200,
          "step": 5,
          "unit": "px",
          "label": "Image width",
          "default": 100
        },
        {
          "type": "select",
          "id": "alignment",
          "label": "Image alignment on large screen",
          "options": [
            {
              "value": "",
              "label": "Left"
            },
            {
              "value": "center",
              "label": "Center"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ],
          "default": "center"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Sign up to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}
