
{{ 'section-collection-product-grid.css' | asset_url | stylesheet_tag }}

<div class="collection-product-grid container">
  <div class="collection-product-grid__filters">
    <div class="collection-product-grid__filters-top">
      <div class="collection-product-grid__filters-top-left">
        <p class="js-filter-btn">FILTER <span class="js-button">+</span></p> 
      </div>
      <div class="collection-product-grid__filters-top-right ">
        <p class="js-view-btn">VIEW <span class="js-button">+</span></p> 
        <p class="js-sort-btn">SORT BY <span class="js-button">+</span> </p> 
      </div>
      {% render 'horizontal-line' %}
    </div>
    <div class="collection-product-grid__filters-bottom ">
      <ul class="js-filter-collection">
        {% for item in collections %}
        <a href="{{item.url}}"><li {% if item.title == collection.title %}class="active"{% endif %}>{{item.title}}</li></a>
        {% endfor %}
      </ul>
      <ul class="js-filter-view">    
          <li>15</li>       
          <li>30</li>   
          <li>45</li>  
      </ul>

      <ul class="js-filter-sort-by">    
        <li class="js-filter-sort-by-featured">FEATURED</li>       
        <li class="js-filter-sort-by-latest">LATEST</li>   
        <li class="js-filter-sort-by-best-seller">BEST SELLER</li>  
        <li class="js-filter-sort-by-low-high">PRICE: LOW TO HIGH</li>  
        <li class="js-filter-sort-by-high-low">PRICE: HIGH TO LOW</li>  
      </ul>
      {% render 'horizontal-line' %}
    </div>
  </div>

  <div class="collection-product-grid__grid">
    {% for product in collection.products %}
    {% render 'component-product-card', product: product %}
  {% endfor %}
  </div>



</div>


{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "spaced-section collection-grid-section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 4,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "add_image_padding",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.add_image_padding.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    }
  ]
}
{% endschema %}
