{{ 'section-featured-article.css' | asset_url | stylesheet_tag }}

<section  class="featured-article container">
  {% render 'component-section-header' title: collection.title%}
  <div class="featured-article__inner">    
    <div class="featured-article__item">
      <div class="featured-article__left featured-article__left--collection">
        <img style="max-width: 100%;"  src="{{collection.featured_image.src | img_url: 'master'}}" alt="">
      </div>
      <div class="featured-article__item-text">
        {{ collection.description }}
        <div class="featured-article__buttons">
        </div>         
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "spaced-section spaced-section--full-width",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.label",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    }
  ]
}
{% endschema %}
