{{ 'section-featured-article.css' | asset_url | stylesheet_tag }}

<section  class="featured-article container">
  {% render 'component-section-header' title: "Shop"%}
  <div class="featured-article__inner">    
    <div class="featured-article__item">
      <div class="featured-article__left featured-article__left--collection">
        <img style="max-width: 100%;"  src="{{section.settings.image.src | img_url: 'master'}}" alt="">
      </div>
      <div class="featured-article__item-text">
        <p class="body-four">{{ section.settings.copy }}</p>
        <div class="featured-article__buttons">
        </div>         
      </div>
    </div>
  </div>
</section>


{% schema %}
{
  "name": "t:sections.main-list-collections.name",
  "class": "spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "heading",
      "default": "Shop"
    },
    {
      "type": "textarea",
      "id": "copy",
      "label": "copy",
      "default": "Some text here"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "checkbox",
      "id": "image_padding",
      "default": false,
      "label": "t:sections.main-list-collections.settings.image_padding.label"
    }
  ]
}
{% endschema %}
