{{ 'section-landing-page.css' | asset_url | stylesheet_tag }}

<section class="landing-page">
  <div class="landing-page__logo">
    {% render 'icon-logo-landing' %}      
  </div>
  <div class="landing-page__inner">
    {% render 'horizontal-line' %}
    {% render 'horizontal-line' %}
    {% render 'vertical-line' %}   
    {% render 'vertical-line', class: "landing-page__middle-one" %} 
    <div class="landing-page__top">
      <h1>PICK YOUR POISON</h1>      
    </div>
    <div class="landing-page__wrap">
      <div class="landing-page__left">
        <h2>PUNK ROCK</h2>
        {% render 'big-snake' %} 
        {% render 'vertical-line', class: "landing-page__middle-one" %} 
        {% render 'vertical-line', class: "landing-page__middle-two" %} 
        {% render 'vertical-line', class: "landing-page__middle-three" %} 
        {% render 'horizontal-line', class: "landing-page__middle-mob-one" %}
        {% render 'horizontal-line', class: "landing-page__middle-mob-two"%}
        {% render 'horizontal-line', class: "landing-page__middle-mob-three"%}
        <p class="landing-page__store-name">MISSION</p>        
      </div>  
      <div class="landing-page__right">
        <h2>PINKIES UP</h2>
        {% render 'big-moon' %} 
         <p class="landing-page__store-name">FILLMORE</p>
      </div>
    </div>  
  </div>
</section>


{% schema %}
{
  "name": "Landing Page",
  "tag": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.product-recommendations.settings.paragraph__1.content"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "You may also like",
      "label": "t:sections.product-recommendations.settings.heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.product-recommendations.settings.header__2.content"
    }
  ],
  "presets": [
    {
      "name": "Landing Page"
    }
  ]
}
{% endschema %}