:root{
  --max-width: 1400px;
  --light-blue: #458EEA;
  --grey: #161616;
  --gold: #E3BD5B
}

/* ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--gold);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--light-blue);
}

::-webkit-scrollbar-thumb:hover ::-webkit-scrollbar{
  width: 20px;
} */


body.dark ::-webkit-scrollbar-thumb {
  background: var(--gold);
}

html {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

.page-wrap{
  padding-top: 68px;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 20;
  position: relative;
  background-color: white;
  transition: 0.4s;
}

@media (min-width: 1024px){
  .page-wrap{
    padding-top: 53px;
  }
}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family:"kumlien-pro";
}


body{
  color: black;
  box-sizing: border-box;
  overflow-x: hidden;
}

li, ul{
  list-style: none;
}

input::placeholder {
  color: black;
  background-color: white;
  transition: 0.4s;
}


input{
  width: 100%;
  background-color: white;
  border: none;
  border-bottom: solid black;
  border-width: 0.5px;
  font-family:"astoria";
  font-size: 16px;
  padding-bottom: 7px;
  transition: 0.4s;
}

.container{
  margin-left: auto; /* 2 */
  margin-right: auto; /* 2 */
  padding-left: 20px; /* 3 */
  padding-right: 20px; /* 3 */
  width: 100%; /* 1 */
}

@media (min-width: 1024px){
  .container{
    padding-left: 42px; 
    padding-right: 42px; 
  }
}

@media (min-width: 1660px){
  .container{
    padding-left: 70px; /* 3 */
    padding-right: 70px; /* 3 */
  }
}



.horizontal-line{
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.vertical-line{
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.horizontal-line path, .vertical-line path, .scale path, .carousel__slide-right-lattice path{
  stroke: var(--light-blue);
  /* stroke-width: 1px; */
}

.vertical-line path, .scale path{
  stroke: var(--light-blue);
  /* stroke-width: 1px; */
}

.button{
  display: flex;
  align-items: center;
}

.button p{
  margin: 0 !important;
  padding: 0 !important;
  margin-right: 4px !important;
  text-transform: uppercase;
  font-family:"astoria";
  font-size: 14px;  
  transition: 0.4s;
}

.button svg{
  margin-top: -2px;
  transition: 0.4s;
  position: relative !important;
  left: 0;
  left: 0 !important;
  right: 0;
  bottom: 0 !important;
  width: auto !important; 
}

.button:hover p{
  color: var(--gold);
}

.button:hover svg{
  margin-top: -2px;
  transform: translateX(5px);
}


a{
  color: black;
  text-decoration: none;
}



/* typography */


.heading-one{
  font-family:"kumlien-pro"; 
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 0px;
  font-weight: 700;
}

@media (min-width: 768px){ 
  .heading-one{
    font-size: 130px;
    line-height: 130px;
  }
}

.heading-two{
  font-family:"kumlien-pro"; 
  font-size: 42px;
  line-height: 48px;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: 768px){ 
  .heading-two{
    font-size: 43px;
    line-height: 53px;
  }
}



.heading-three{
  font-family:"kumlien-pro"; 
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
}

@media (min-width: 768px){ 
  .heading-three {
    font-size: 26px;
    line-height: 40px;
  }
}




.heading-four{
  font-family:"kumlien-pro"; 
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1px;
  font-weight: 700;
}

@media (min-width: 768px){ 
  .heading-four{
    font-size: 22px;
    line-height: 28px;
  }
}


.heading-five{
  font-family:"astoria";
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
  font-weight: 400;
}

@media (min-width: 768px){ 
  .heading-five{
    font-size: 15px;
    line-height: 27px;
  }
}

.body-one{
  font-family:"kumlien-pro"; 
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0px;
  font-weight: 400;
}

@media (min-width: 768px){ 
  .body-one{
    font-size: 56px;
    line-height: 65px;
  }
}

.body-two{
  font-family:"astoria";
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0px;
  font-weight: 400;
}

@media (min-width: 768px){ 
  .body-two{
    font-size: 32px;
    line-height: 44px;
  }
}


.body-three{
  font-family:"astoria";
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase ;
}

@media (min-width: 768px){ 
  .body-three{
    font-size: 17px;
    line-height: 21px;
  }
}

.body-four{
  font-family:"astoria";
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.5px;
  font-weight: 400;
}

@media (min-width: 768px){ 
  .body-four{
    font-size: 16px;
    line-height: 22px;
  }
}





/* dark mode */

body.dark {
  background-color: black;
  color: white;  
}

body.dark .page-wrap{
  background-color: black;
  transition: 0.4s;
}



body{
  transition: 0.4s;
}

body.dark .header__main-menu-item a{
  color: white;
}

body.dark a{
  color: white;
}

body.dark .header__main-menu-item a:hover{
  color: var(--gold);
}

body.dark .header__col svg path, body.dark .header__col svg circle{
  stroke: white;
}

body.dark .header__col .js-switch-theme svg rect, body.dark .header__col .js-switch-theme li{
  stroke: var(--gold) !important;
  color: var(--gold);
}

body.dark .header__sub-nav{
  background-color: black;
  border-color: #ffffff87;

}

body.dark .header__sub-nav a{
  color: white;
}

body.dark .header__sub-nav a:hover{
  color: var(--gold);
}

body.dark .header, body.dark .header__mobile, body.dark .header__mobile-body, 
body.dark .carousel__slide-left-long-bar-top, body.dark .carousel__slide-left-long-bar-bottom{
  background-color: black;
}

body.dark .header__mobile-body a{
  color: white ;  
}

body.dark .header__mobile-body svg path{
  fill: white ;  
}

body.dark .header__mobile-has-subs.active a{
  color: var(--gold);
} 

body.dark .header__mobile-icons svg path, .header__mobile-icons svg rect{
  stroke: white;  
}

body.dark .header__mobile-has-subs.active svg path{
  fill: var(--gold) ;  
}




body.dark .header__mobile-body li, body.dark .js-switch-theme, body.dark .header__mobile-submenu.active, body.dark .header__mobile-top{
  border-color: white !important; 
  color: white;
}

body.dark svg rect{
  stroke: white !important;

}

.body.dark{
  color: white !important;  
}

body.dark .vertical-line path, body.dark .horizontal-line path, body.dark .scale path, body.dark .carousel__slide-right-lattice path{
  stroke: white;
  /* stroke-width: 1px; */
}

body.dark .section-header h2{
  color: white;
}

body.dark .slider-right path, body.dark .slider-left path{
    fill: white;
    stroke: white;
}

body.dark .footer__top-right, body.dark .footer__top-left,  body.dark input, body.dark input::placeholder {
  background-color: black;
  color: white;
  opacity: 1;
  border-color: white;
}

body.dark .footer__top{
  background-color: black;
}

@media (min-width: 1180px){
  body.dark .footer__top{
    background-color: transparent;
  }
  
}

body.dark .footer__top-right-social-links svg path{
  fill: white
}

body.dark .footer__top-left h3, body.dark .footer__top-left p, body.dark .footer__top-right h4, body.dark .footer__top-right-social h5{
  color: #E3BD5B;
}





