:root{
  --max-width: 1400px;
  --light-blue: #458EEA;
  --grey: #161616;
  --gold: #E3BD5B
}

html {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

.page-wrap{
  margin-top: 68px;
  overflow-x: hidden;
}

@media (min-width: 1024px){
  .page-wrap{
    margin-top: 53px;
  }
}



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  font-family:"kumlien-pro";
}


body{
  color: black;
  box-sizing: border-box;
  overflow-x: hidden;
}

.container{
  margin-left: auto; /* 2 */
  margin-right: auto; /* 2 */
  padding-left: 20px; /* 3 */
  padding-right: 20px; /* 3 */
  width: 100%; /* 1 */
}

@media (min-width: 1024px){
  .container{
    padding-left: 42px; 
    padding-right: 42px; 
  }
}

@media (min-width: 1440px){
  .container{
    padding-left: 70px; /* 3 */
    padding-right: 70px; /* 3 */
  }
}



.horizontal-line{
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
}

.vertical-line{
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.horizontal-line path, .vertical-line path, .scale path, .carousel__slide-right-lattice path{
  stroke: var(--light-blue);
  /* stroke-width: 1px; */
}

.vertical-line path, .scale path{
  stroke: var(--light-blue);
  /* stroke-width: 1px; */
}

.button{
  display: flex;
  align-items: center;
}

.button p{
  margin: 0 !important;
  padding: 0 !important;
  margin-right: 4px !important;
  text-transform: uppercase;
  font-family:"astoria";
  font-size: 14px;  
  transition: 0.4s;
}

.button svg{
  margin-top: -2px;
  transition: 0.4s;
}

.button:hover p{
  color: var(--gold);
}

.button:hover svg{
  margin-top: -2px;
  transform: translateX(5px);
}


a{
  color: black;
  text-decoration: none;
}



/* typography */


.heading-one{
  font-family:"kumlien-pro"; 
  font-size: 80px;
  line-height: 80px;
  letter-spacing: 0px;
  font-weight: 700;
}

@media (min-width: 768px){ 
  .heading-one{
    font-size: 130px;
    line-height: 130px;
  }
}

.heading-two{
  font-family:"kumlien-pro"; 
  font-size: 42px;
  line-height: 48px;
  letter-spacing: 0px;
  font-weight: 700;
}

@media (min-width: 768px){ 
  .heading-two{
    font-size: 43px;
    line-height: 53px;
  }
}




.heading-four{
  font-family:"kumlien-pro"; 
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 3px;
  font-weight: 700;
}

@media (min-width: 768px){ 
  .heading-four{
    font-size: 22px;
    line-height: 28px;
  }
}


.heading-five{
  font-family:"astoria";
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 1px;
  font-weight: 400;
}

@media (min-width: 768px){ 
  .heading-five{
    font-size: 15px;
    line-height: 27px;
  }
}



.body-three{
  font-family:"astoria";
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1px;
  font-weight: 400;
  text-transform: uppercase ;
}

@media (min-width: 768px){ 
  .body-three{
    font-size: 17px;
    line-height: 21px;
  }
}

.body-four{
  font-family:"astoria";
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 1px;
  font-weight: 400;
}

@media (min-width: 768px){ 
  .body-four{
    font-size: 16px;
    line-height: 22px;
  }
}





/* dark mode */

body.dark{
  background-color: black;
  color: white;  
}

body{
  transition: 0.4s;
}

body.dark .header__main-menu-item a{
  color: white;
}

body.dark a{
  color: white;
}

body.dark .header__main-menu-item a:hover{
  color: var(--gold);
}

body.dark .header__col svg path, body.dark .header__col svg circle{
  stroke: white;
}

body.dark .header__col .js-switch-theme svg rect, body.dark .header__col .js-switch-theme li{
  stroke: var(--gold) !important;
  color: var(--gold);
}

body.dark .header__sub-nav{
  background-color: black;
  border-color: #ffffff87;

}

body.dark .header__sub-nav a{
  color: white;
}

body.dark .header__sub-nav a:hover{
  color: var(--gold);
}

body.dark .header, body.dark .header__mobile, body.dark .header__mobile-body, 
body.dark .carousel__slide-left-long-bar-top, body.dark .carousel__slide-left-long-bar-bottom{
  background-color: black;
}

body.dark .header__mobile-body a{
  color: white ;  
}

body.dark .header__mobile-body svg path{
  fill: white ;  
}

body.dark .header__mobile-has-subs.active a{
  color: var(--gold);
} 

body.dark .header__mobile-icons svg path, .header__mobile-icons svg rect{
  stroke: white;  
}

body.dark .header__mobile-has-subs.active svg path{
  fill: var(--gold) ;  
}




body.dark .header__mobile-body li, body.dark .js-switch-theme, body.dark .header__mobile-submenu.active, body.dark .header__mobile-top{
  border-color: white !important; 
  color: white;
}

body.dark svg rect{
  stroke: white !important;

}

.body.dark{
  color: white !important;  
}

body.dark .vertical-line path, body.dark .horizontal-line path, body.dark .scale path, body.dark .carousel__slide-right-lattice path{
  stroke: white;
  /* stroke-width: 1px; */
}

body.dark .section-header h2{
  color: white;
}

body.dark .slider-right path, body.dark .slider-left path{
    fill: white;
    stroke: white;
}


