.product-card__item:hover{
  cursor: pointer;
}

.product-card__item-image .vertical-line:last-child{
  right: 0;
  left: auto;
} 

.product-card__item-image-h-bottom{
  bottom: 0px !important;
  z-index: 999;
}

.product-card__item-image-v-left{
  z-index: 99;
}

.product-card__item-details-v-right{
  right: 0;
  left: auto;
}

.product-card__item-image .horizontal-line:first-child{
  bottom: 100%;
} 

.product-card__item-image{
  position: relative;
  padding-top: 90%;
  overflow: hidden;  
}

.product-card__item-image-h-top{
  top: 0px;
}

.product-card__item-image img{
  position: absolute;
  top: 0;
  height: 100%;
  width: calc(100% - 1px);
  left: 1px;
  object-fit: cover; 
  transition: 0.4s; 
}

.product-card__item:hover .product-card__item-image img{
  transform: scale(1.1);
}


.product-card__item-details{
  position: relative;
  padding: 13px 17px;
}


.product-card__item-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-card__item-details p{
  text-transform: capitalize;
}