.section-header{
  position: relative;
  margin-bottom: 32px;
  padding-bottom: 0px;
}

.section-header h2{
  margin-top: 54px;
  padding-bottom: 5px;
}

.section-header__snake-wrap{
  position: absolute;
  right: 48px;
  top: -43px;
}