.store-select__top{
  display: flex;
  position: relative;
}


.scale-container{
  position: relative; 
  height:0; 
  width: 100%; 
  padding: 0;
  padding-bottom: 11.15%;

}

.scale {
  position: absolute; 
  height: 100%; 
  width: 100%; 
  left: 0; 
  top:0;
}

