.footer{
  height: 877px;

}

.footer__top{
  margin-top: 0px;
  position: relative;
  z-index: 10;
  background-color: white;
  border-top: solid var(--light-blue);
  border-width: 0.5px;
  transition: 0.4s;

}

.footer__top-h{
  top: 0;
  bottom: auto;
  z-index: 9999;
}

.footer__top-left{
  position: relative;
}

.footer__top-left h3{
  font-family:"kumlien-pro";
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  padding-top: 36px;
  margin-bottom: 15px;
   color: var(--light-blue);
}

.footer__top-left p{
  padding-bottom: 26px;
  color: var(--light-blue);
}

.footer__bottom{
  display: block;
    visibility: visible;
  height: 330px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  position: fixed;
  bottom: 0;
  z-index: 5;
  width: 100%;
}

.footer__bottom:after{
  clear: both;
  content: " ";
  display: table;
}

.footer__top-divider-three-h, .footer__top-divider-two-h, .footer__top-divider-one-h{
  margin-left: -20px;
  width: calc(100% + 40px);
}


.footer__top-divider-two-h{
  bottom: -12px;
}

.footer__top-divider-three-h{
  bottom: -24px;
}

.footer__top-right{
  padding-top: 60px;
  position: relative;
}


.footer__top-right h4{
  color: var(--light-blue);
  font-family:"kumlien-pro";
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer__top-right .button{
  position: absolute;
  top: 99px;
  right: 0;
}

.footer__top-right-links-wrap{
  display: flex;
  justify-content: space-between;
}

.footer__top-right-links-wrap{
  padding-top: 37px;
  padding-bottom: 37px;
}

.footer__top-right-links li{
  font-family:"astoria";
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 17px;
}

.footer__top-right-links li:hover{
  cursor: pointer;
  opacity: 0.4;
}

.footer__top-right-social{
  width: 152px;
}

.footer__top-right-social svg:hover{
  cursor: pointer;
  opacity: 0.4;
}


.footer__top-right-social h5{
  width: 152px;
  font-family:"kumlien-pro";
  font-weight: 700;
  font-size: 14px;
  color: var(--light-blue);
}

.footer__top-right-social-links svg{
  margin-right: 16px;
  margin-top: 12px;
}

.footer__top-right-social-links svg path{
  fill: black;
}


@media (min-width: 1180px){

  .footer{
   height: 802px;
  }

  .footer .container{
    padding: 0;
  }

  .footer__top{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
  }

  .footer__top-left{
    width: 42%;
    padding-right: 40px;
    padding-left: 42px;
    background-color: white;
    padding-left: 84px;
    margin-top: -1px;
    transition: 0.4s;
  }

  .footer__top-left h3{
    margin-top: 27px;
  }

  .footer__top-left p {
    padding-bottom: 45px;
    max-width: 470px;
    padding-right: 20px;
  }

  .footer__top-divider-one-v{
    right: 0;
    left: auto;
  }

  .footer__top-divider-two-v{
    right: 11px;
    left: auto;
  }

  .footer__top-divider-three-v{
    right: 22px;
    left: auto;
  }

  .footer__top-right{
    width: 58%;
    height: 253px;
    background-color: white;
    padding-left: 66px;
    margin-top: -1px;
    transition: 0.4s;
  }

  .footer__top-divider-three-h, .footer__top-divider-two-h{
    display: none;
  }

  .footer__top-divider-one-h{
    width: 100%;
    margin-left: 0;
  }

  .footer__top-right input{
    width: 394px;
  }

  .footer__top-right .button {
    position: absolute;
    top: 104px;
    right: 0;
    left: 369px;
  }

  .footer__top-right-links ul{
   display: flex;
  }

  .footer__top-right-links li{
    margin-right: 30px;
  }

  .footer__top-right-social{
    position: absolute;
    top: 60px;
    right: 69px;
  }

  .footer__top-right-links-wrap{
    padding-top: 55px;

  }

  .footer__bottom{
    display: flex;
    height: 640px;
  }

  .footer__bottom-left{
    width: 42%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;

  }

  .footer__bottom-right{
    width: 58%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }

}

